body {
	background-color: #2b2b2b;
	color: #fff;
	font-family: "Ubuntu Mono", sans-serif;
	overflow-x: hidden;
}

body>*{
	padding: 0 4em;	
}

p{
	margin-top: 1em;
}

a, .wrapper{
	display: block;
}

a:hover {
	color: #d7fae9;
}

footer {
	background-color: #000;
	color: #fff;
	line-height: 3em;
	margin: 10em 0 0 0;
}

.bullet {
	width: 35px;
}

.desc {
	margin-bottom: 2em;
}

.mint {
	color: #83dfb2;
	font-weight: 600;
	display: inline-block;
}

.lwrap>img, .lwrap>a {
	display: inline-block;
	margin: 10px 0;
}

.lwrap>a {
	color: #fff;
	margin-left: 8px;
}

.lwrap>a:hover {
	color: #83dfb2;
}

.mobile{
	display: none;
}

.hero {
	display: block;
	font-family: "Silkscreen", sans-serif;
	background-color: #000;
	color: #83dfb2;
}

.ib, .dropdown {
	display: inline-block;
}

.hero-icon {
	height: 50px;
	margin: 0.9em 0 0.5em -0.5em;
	padding: .25em;
}


.title {
	vertical-align: middle;	
	margin: 0;
}

.search {
	margin-bottom: 1em;
}

.nav {
	background-color: #000;
    display: block;
    padding: 0.25em 3em;
    font-size: 1.25em;
}

.nav_el {
	display: inline-block;
	margin:  0 2em 0 0;
	color: #fff;
}

.nav_el:hover {
	color: #83dfb2
}

#phunky-list {
	display: block;
	text-align: center;
}

.phunk-wrapper {
	background-color: #83dfb2;
	margin: 0 .5em 1em;
	padding: 5px;
	border: 5px solid #83dfb2;
	cursor: pointer;
	vertical-align: top;
	border-radius: 8px;
}

.phunk-id, #i-phunk-id {
	margin: 0;
	font-weight: 600;
	font-size: 1.25em;
	font-family: "Silkscreen", sans-serif;
	color: #212529;
	text-align: left;
}

#i-phunk-id {
	font-size: 2em;
  margin: 0 0.5em;
  color: #83dfb2;
}

.tit {
	font-size: 2em;
	color: #83dfb2;
}

#phunk-img {
	margin: 0 0 15px 0;
	max-width: 200px;
}

.p-btn {
	background: #83dfb2;
	border: none;
	color: #fff;
	padding: 2px 8px;
}

.mrgn {
	margin: 24px 0 8px 0;
}

.inputs, .phunky-pfp {
	vertical-align: top;
}

.ml1em {
	margin-left: 1em;
}

.wrapper.row.d-flex.justify-content-center {
	margin-bottom: 4em;
}

#my-phunk {
	position: absolute;
	background: lightgray;
	margin: 0 0 15px 0;
	width: 350px;
	z-index: 10;
}

#dl-phunk {
	display: block;
	position: absolute;
	width: 350px;
	height: 350px;
	object-fit: contain;
	z-index: 0;
}

.lab {
	margin-top: 24px;
}

.ila {
	display:contents;
}

.active {
	color: #83dfb2;
}

#content {
	height: 100vh;
}

.filters {
	margin: 0 0 3em 0;
}

.select {
	border-radius: 8px 0 0 8px;
	width: 200px;
	border-right: none;
	background-color: #d7fae9;
}

.btn-outline-secondary {
	padding: 0 0.25rem;
    border-radius: 0 8px 8px 0;
    border-left: none;
    background-color: #83dfb2;
    color:#212529;
}

#id {
	border-radius: 8px;
	height: 1.75em;
	background-color: #d7fae9;
	padding: 2px 6px;
	border: none;
}

.input-group {
	display: inline-flex;
	width: auto;
	padding: 0 1em;
	margin: 0 0 10px 0;
}

.input-group-append, .select {
	height: 28px;
}

.btn-outline-secondary:hover {
	background-color: #83dfb2;
	border-color: #83dfb2;
}

#view, #hide {
	background-color: #83dfb2;
	border: solid 1px #83dfb2;
	border-radius: 8px;
	padding: 2px 6px;
	margin: 0 0 0 1em;
	height: 1.75em;
}

.hide-me {
	display: none;
}

select {
	color: #212529;
}

option {
	color: #212529;
}

.warn {
	color: red;
	margin-top: 6px;
	display: none;
}

#ws {
	height: 2em;
}

.data-traitshide,.data-beardhide,.data-cheekshide,.data-earshide,.data-emohide,.data-eyeshide,.data-facehide,.data-hairhide,.data-lipshide,.data-mouthhide,.data-neckhide,.data-nosehide,.data-sexhide,.data-teethhide {
	display: none;
}

.i-info {
	color: #212529;
	background-color: #83dfb2;
	position: fixed;
    z-index: 10;
    top: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    max-height: 80%;
}

.i-info ::-webkit-scrollbar {
  background: #212529;
}

.i-btn {
	color: #fff;
	background-color: #212529;
	padding: 2px 8px;
	border: none;
	margin-bottom: 1em;
	border-radius: 8px;
	width: 100%;
}

.i-btn:hover {
	background-color: #4f886c;
}

#view:hover, #hide:hover, .sorter:hover {
	background-color: #74c79f;
}

.phunk-wrapper:hover {
	border: #fff 2px solid;
}

#bidding, #listing {
		width: 100%;
    border-radius: 8px;
    margin: 0.5em 0 1em 0;
    background-color: #d7fae9;
    border: #212529 2px solid;
    color: #212529;
}

#bid-amt, #sell-amt {
	width: 100%;
}

.w28p {
	width: 28%;
}

select:hover, #bidding:hover {
	background-color: #bbf2d8;
}

.x {
	color: #fff;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	vertical-align: text-bottom;
}

#x:hover {
	color: #83dfb2;
}

.i-btm {
	vertical-align: top;
}

#bid-amt-l {
	margin-left: 0.25em;
}

#overlay {
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #0000008a;
}

.pprice {
	height: 0.5em;
  text-align: start;
  margin: 0.5em 0 1em;
  color: #212529;
  font-size: .9em;
}

.sorter {
	margin: 0 0 0 1em;
	padding: 2px 6px;
	height: 1.75em;
	border: solid 1px #83dfb2;
  border-radius: 8px;
  background: #83dfb2;
}

.sorter option {
	background-color: #d7fae9;
}

.mt1 {
	margin-top: 1em;
}

.i-banner {
	background-color: #212529;
	margin-bottom: 1em;
}

.right {
	text-align: right;
}

#bidding>* {
	display: block;
}

.w75 {
	width: 75%;
}

.w20 {
	width: 20%;
}

.fixed{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.fixed>p {
	margin: 0;
}

@media screen and (max-width: 565.9px) {
	.desk {display: none;}
	.mobile {
		display: inline-block;
		font-size: 1.75rem;
	}
	.i-info {
    overflow-y: scroll;
	}
	#hide, #view, #id, .sorter {
		margin: 0 0 1em 0;
	}
	.input-group {
		padding: 0;
	}

	.i-btm {
		width: 80%;
		margin: 5% 10%;
		padding: 0;
	}
}